
h1 {
    padding: 20px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: 50px 50px;
}

img {
    align-items: center;
    display: block;
    margin: auto;
}

.caption {
    font-style: italic;
    text-align:center
}

strong {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightyellow;
    padding: 5px 30px;
}